.buttons-container{
    position: fixed;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid gray;
    width:20vw;
    top:20vh;
    padding: 0;
    margin: 0;
    left: auto;
    bottom: 5px;
    top: auto;
    background-color: white;
    min-height:40px;
}